@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;700&display=swap');

body {
    background: #f0f4f8;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2d3436;
}

.nav-top {
    position: fixed;
    top: 30px;
    right: 40px;
    display: flex;
    gap: 20px;
}

.nav-top a {
    text-decoration: none;
    color: #636e72;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.3s;
}

.nav-top a:hover { color: #00b894; }

.main-container {
    text-align: center;
    width: 100%;
}

.timer-display {
    font-size: 10rem;
    font-weight: 700;
    margin: -20px 0;
    letter-spacing: -5px;
    color: #2d3436;
}

.pet-container {
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pet-img {
    width: 150px;
    height: auto;
    transition: all 1.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.grow-0 { transform: scale(0.6); opacity: 0.6; filter: grayscale(1); }
.grow-1 { transform: scale(1.0); opacity: 1; filter: grayscale(0); }
.grow-2 { transform: scale(1.4); filter: drop-shadow(0 0 20px rgba(0,184,148,0.3)); }

.btn-start {
    background: #2d3436;
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 100px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-start:hover { transform: scale(1.05); background: #000; }

.audio-bar {
    position: fixed;
    bottom: 40px;
    background: white;
    padding: 10px 25px;
    border-radius: 100px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    gap: 15px;
}
#sidePanel::-webkit-scrollbar {
    width:6px;
}
#sidePanel::-webkit-scrollbar-thumb {
    background:#27ae60;
    border-radius:3px;
}
#sidePanel::-webkit-scrollbar-track {
    background:#f0f7f4;
}
